.card {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  color: black;
  display: inline-block;
}

.card--face-down .card__text {
  visibility: hidden;
}

.card__text {
  pointer-events: none;
  cursor: default;
}
